*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #001e4d;
}


/* Navbar */

/* Navbar Styling */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Makes the navbar stick to the top */
    top: 0;
    z-index: 1000; /* Ensures the navbar is above other content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar-brand .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

/* .navbar-links a:hover {
    background-color: #575757;
} */

/* Mobile Menu Toggle */
.menu-toggle {
    display: none; /* Hidden by default on larger screens */
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap; /* Allows items to wrap to the next line */
    }

    .navbar-brand {
        flex-grow: 1; /* Allows the logo to take available space */
    }

    .navbar-links {
        display: none; /* Hide navigation links by default on small screens */
        width: 100%; /* Take full width */
        flex-direction: column; /* Stack links vertically */
        background-color: #444; /* Slightly darker background for mobile menu */
        text-align: center;
        padding: 1rem 0;
    }

    .navbar-links.active {
        display: flex; /* Show navigation links when active */
    }

    .navbar-links li {
        margin: 10px 0; /* Adjust spacing for vertical links */
    }

    .navbar-links a {
        display: block; /* Make links take full width for better tapping */
    }

    .menu-toggle {
        display: block; /* Show the hamburger icon on small screens */
    }
}



.back a{
    color: #fff;
    padding-left: 100px;
    
}
.bi-arrow-left{
    color: white;
    font-size: 24px;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border:  1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(images/background.jpg);
    background-position: center;
    position: relative;
    height: auto;
    background-repeat: repeat-y; /* This makes the image repeat vertically */
    background-size: auto; /* Optional: Ensures the image isn't stretched or shrunk */

}

.row{
    display: flex;
}

iframe{
    border-radius: 10%;
    height: 300px;
    width: 500px;
}

.header h1{
    color: #fff;
    padding-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    padding-top: 40px;
}

.hl-col{
    flex-basis: 40px;
    padding-left: 50px;
    padding-top: 40px;
}

.hr-col{
    flex-basis: 60px;
    padding-left: 20px;
    padding-top: 40px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}


@media(max-width:700px){
    .row{
        display: grid;
    }

    .header h1{
        font-size: 40px;
        padding-left: 10%;

    }

    iframe{
        border-radius: 10%;
        height: 200px;
        width: 300px;
    }

    .hr-col{
        font-size: 32px;
        padding-left: 10%;
    }
}

a{
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    color: #222;
}

a:hover{
    color: darkblue;
}

.links{
    margin-top: 40px;
    background: #fff;
    width: 100%;
    min-height: 60vh;
    flex-basis: 31%;
    max-width: 300px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 10px;
    height: auto;
}

.links img{
    width: 100%;
    height: 80%;
}


.link{
    background: transparent;
    max-width: auto;
    height: auto;
    border: 1px solid darkblue;
    border-radius: 10px;
}

.footer{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 45%;
    color: #fff;
    display: block;
}

@media(max-width:700px){
    .footer{
        padding-left: 30%;
    }
}


.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
  }

  .download-button:hover {background-color: #3e8e41}

  .download-button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }



  /* Icon Styling */
.icon-rounded {
    color: #fff; /* Icon color */
    font-size: 1.8rem; /* Increased icon size from 1.5rem to 1.8rem */
    background-color: #007bff; /* Background for the circle */
    border-radius: 50%; /* Makes it a perfect circle */
    width: 40px; /* Increased width of the circle from 35px to 40px */
    height: 40px; /* Increased height of the circle from 35px to 40px */
    display: flex; /* Use flexbox to center the icon inside the circle */
    justify-content: center; /* Horizontally center the icon */
    align-items: center; /* Vertically center the icon */
    /* You can add a subtle border or shadow if you like */ 
     border: 2px solid #fff; 
     box-shadow: 0 0 5px rgba(255,255,255,0.5);
}



/* Welcome Section Styling */
.welcome-section {
    display: flex; /* Use flexbox for left and right columns */
    flex-direction: column; /* Stack columns on small screens */
    align-items: center; /* Center items vertically */
    justify-content: center;
    padding: 60px 20px; /* Adjust padding as needed */
    background-color: #f8f8f8; /* Light background for the section */
    min-height: 80vh; /* Make it take up most of the viewport height */
    text-align: center; /* Center text on small screens */


    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: auto;

}

.welcome-content {
    flex: 1; /* Allow content to grow */
    max-width: 600px; /* Limit content width */
    margin-bottom: 40px; /* Space below content on small screens */
}

.welcome-content h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
}

.welcome-content h1 span#typed-text {
    font-weight: bold;
    color: #007bff; /* Color for the typing text */
    border-right: 2px solid #007bff; /* Typing cursor */
    animation: blink-caret 0.75s step-end infinite; /* Cursor blinking animation */
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #007bff; }
}


.welcome-content p {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #007bff;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none; /* In case you use it as an anchor */
    display: inline-block;
}

.cta-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.welcome-image {
    flex: 1; /* Allow image to grow */
    max-width: 500px; /* Limit image width */
}

.welcome-image img {
    max-width: 100%; /* Ensure image is responsive */
    height: auto;
    border-radius: 10px; /* Slightly rounded corners for the image */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
    .welcome-section {
        flex-direction: row; /* Layout side-by-side on larger screens */
        text-align: left; /* Align text to left */
    }

    .welcome-content {
        margin-right: 40px; /* Space between text and image */
        margin-bottom: 0; /* Remove bottom margin */
    }
}

.arrow{
  background-color: white;
  color: #0056b3;
}

.arrow:hover{
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #001e4d;
}

.back a{
    color: #fff;
    padding-left: 100px;
    
}
.bi-arrow-left{
    color: white;
    font-size: 24px;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border:  1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: auto;
}

.row{
    display: flex;
}

iframe{
    border-radius: 10%;
    height: 300px;
    width: 500px;
}

.header h1{
    color: #fff;
    padding-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    padding-top: 40px;
}

.hl-col{
    flex-basis: 40px;
    padding-left: 50px;
    padding-top: 40px;
}

.hr-col{
    flex-basis: 60px;
    padding-left: 20px;
    padding-top: 40px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}


@media(max-width:700px){
    .row{
        display: grid;
    }

    .header h1{
        font-size: 40px;
        padding-left: 10%;

    }

    iframe{
        border-radius: 10%;
        height: 200px;
        width: 300px;
    }

    .hr-col{
        font-size: 32px;
        padding-left: 10%;
    }
}

a{
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    color: #222;
}

a:hover{
    color: darkblue;
}

.links{
    margin-top: 40px;
    background: #fff;
    width: 100%;
    min-height: 60vh;
    flex-basis: 31%;
    max-width: 300px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 10px;
    height: auto;
}

.links img{
    width: 100%;
    height: 80%;
}


.link{
    background: transparent;
    max-width: auto;
    height: auto;
    border: 1px solid darkblue;
    border-radius: 10px;
}

.footer{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 45%;
    color: #fff;
    display: block;
}

@media(max-width:700px){
    .footer{
        padding-left: 30%;
    }
}


.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

